
{% extends 'blog/base.html' %}

{% block title %} About-Page {% endblock %}

{% block body %}
    <h1>This is a blog application created by Hanumanth Ganna.</h1>
    <p> Here Users can do registration and they can do login.<br>
        After login then can create new Posts into database.<br>
        All the posts are displaying on Home page.</p>

    <br>
    <p>Users can filter out Posts by clicking their titles.</p>
    <p>All Users posts can filter out by clicking their Usernames.</p>
{% endblock %}

