
{% extends 'blog/base.html' %}

{% block title %}  Blog Home {% endblock %}

{% block body %}
    {% if posts %}
        {% for post in posts %}
           <article class="media content-section">

               <img src="{{ post.author.profile.image.url }}"
                class="rounded-circle account-img">

              <div class="media-body">
                  <div class="article-metadata">
                      <a href="{% url 'user_posts' post.author.username %}" class="mr-4">{{ post.author.username }}</a>
                      <small class="text-danger"> {{ post.date_posted|date:'F - d - Y' }}</small>
                  </div>
                  <h2> <a href="{% url 'post_detail' post.id %}"
                          class="article-title"> {{ post.title }}</a> </h2>
                  <p class="article-content"> {{ post.content }} </p>
              </div>
           </article>
        {% endfor %}

        {% include 'blog/pagination.html' %}

    {% else %}
       <h1>Posts are not available</h1>
    {% endif %}
{% endblock %}