

{% extends 'blog/base.html' %}
{% block title %}  Post Detail {% endblock %}

{% block body %}
    {% if post %}
           <article class="media content-section">

               <img src="{{ post.author.profile.image.url }}"
                class="rounded-circle account-img">

              <div class="media-body">
                  <div class="article-metadata">
                      <a href="{% url 'user_posts' post.author.username %}" class="mr-4">{{ post.author.username }}</a>
                      <small class="text-danger"> {{ post.date_posted|date:'F - d - Y' }}</small>
                  </div>
                  
                  {% if user.username == post.author.username %}
                     <a href="{% url 'post_update' post.id %}"
                        class="btn btn-success btn-sm">update</a>

                     <a href="{% url 'post_delete' post.id %}"
                        class="btn btn-danger btn-sm">delete</a>
                  {% endif %}
                  
                  <h2> <a href="#" class="article-title"> {{ post.title }}</a> </h2>
                  <p class="article-content"> {{ post.content }} </p>
              </div>
           </article>
    {% else %}
       <h1>Requested object not available</h1>
    {% endif %}
{% endblock %}